Repository DFO-Ocean-Navigator/Ocean-Data-Map-Project, pull requests merged in 2024-04, with the labels that each got.

#1118 Update data importers
  scripts/data_importers/argo.py
  scripts/data_importers/glider.py
  scripts/data_importers/nafc_ctd.py
  scripts/data_importers/seal.py
Labels: Bugfix, Python, Data/Pipelines

#1144 Add scale selector to AreaWindow
  oceannavigator/frontend/src/components/AreaWindow.jsx
  oceannavigator/frontend/src/components/ColormapRange.jsx
  oceannavigator/frontend/src/stylesheets/components/_ColormapRange.scss
Labels: Javascript, User Requested

#1148 Fix Density variable calculation
  data/calculated_parser/functions.py
Labels: Python, Bug

#1149 Modal width fix
  oceannavigator/frontend/src/stylesheets/utils/bootstrap.css
  oceannavigator/frontend/src/stylesheets/utils/misc.scss
Labels: Bugfix, css
